body {
    background-color: darkslategrey;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: large;
}

#wholewindow {

margin-top: 15px;

}
.text-centre {
    align-content: center;
    text-align: center;
    justify-content: center;
}


#texthr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#tictactoediv {
    
    justify-content: center;
    align-content: center;
    

}

#tictactoedivmessage {
    
    
    
}

#playerinfodiv {
    display: flex;
    justify-content: center;
    align-content: center;
}



.table-responsive {

border: none;
}


#tictactoetable {
    width: 100%;
    height: auto;
    position: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: none;
    border-spacing: 5px;
    border-collapse: separate;
}

@media (max-width : 320px) {
    #tictactoetable {
        width: 60vw;
        height: auto;
        position: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 30%;
    }

    #playerinfo {
        width: 100%;
        height: auto;
       
        font-size:small;
    }

    #gameinfo {
        width: 100%;
        height: auto;
        
        font-size: small;
    }
    
}
@media (max-width : 480px) {
    #tictactoetable {
        width: 60vw;
        height: auto;
        position: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 15%;
    }
}

@media (max-width : 768px) {
    #tictactoetable {
        width: 60vw;
        height: auto;
        position: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 17%;
    }
}

@media (max-height : 480px) {
    #tictactoetable {
        width: 60vw;
        height: auto;
        position: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 15%;
    }
    
}

td {
    width: 33.333%;
    font-size: 3vw;
    color: whitesmoke;
    border-radius: 15%;
    background-color: lightsteelblue;
    transition: all 0.1s;
}


tr {
    
}

td:after {
    content: "";
    
    display: block;
    padding-bottom: 30%;
}
td:before {
    content: "";
    display: block;
    padding-top: 30%;
}



.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: none;
}

#playerinfo {
    width: 80%;
    height: auto;
    float:left;
    display:block;
    clear:left;
    margin-left: 9%;

}

#gameinfo {
    width: 80%;
    height: auto;
    float: left;
    display: block;
    position: center;
    margin-left: 9%;
    
}

.hovercolor{
    background-color:grey;
    opacity:0.5;

}

.buttonhovercolor {
    background-color: grey;
    opacity: 0.7;
}

button {
    background-color: #337ab7;
    transition: all 0.3s;
    color: whitesmoke;
    border-color: #337ab7;
    outline: none;
}

